.page{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    background-color: #F4F0F7 ;
}

.home{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Fredoka", sans-serif;
}

img{
    width: 40%;
    height: 40%;
    flex-grow: 1;
}

app-header {
    width: 100%;
}

.introduction{
    flex-grow: 1;
}

.introduction p{
    font-size: larger;
    padding-right: 100px;
}

